@implements IDisposable
@using System.Security.Claims
@inherits LayoutComponentBase
@inject UserManager<RoadTripUser> UserManager
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<MudThemeProvider Theme="Theme.CurrentTheme()" IsDarkMode="_darkMode" />
<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>Road Trip</PageTitle>

<MudLayout>
    <MudAppBar Elevation="1" Color="Color.Primary">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Secondary" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudText Typo="Typo.h5" Class="ml-3">RoadTrip</MudText>
        <MudSpacer />
        <MudIconButton OnClick="ThemeToggle" Icon="@_themeIcon" Color="Color.Secondary"></MudIconButton>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <MudNavLink Icon="@Icons.Material.Filled.AccountBox" Href="Account/Manage" IconColor="Color.Secondary">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span>@context.User.Identity?.Name
                    </MudNavLink>
                </div>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Secondary">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                        </MudButton>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <MudNavLink Icon="@Icons.Material.Outlined.AppRegistration" Href="Account/Register" IconColor="Color.Secondary">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                    </MudNavLink>
                </div>
                <div class="nav-item px-3">
                    <MudNavLink Icon="@Icons.Material.Outlined.Login" Href="Account/Login" IconColor="Color.Secondary">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </MudNavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2" Color="Color.Surface">
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <MudPaper>
            @Body
        </MudPaper>
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = true;
    bool _darkMode = false;
    string _themeIcon = Icons.Material.Filled.LightMode;
    private string? currentUrl;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    void ThemeToggle()
    {
        _darkMode = !_darkMode;
        _themeIcon = _darkMode ? Icons.Material.Filled.DarkMode : Icons.Material.Filled.LightMode;
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    private async Task<string> PlayerNameUpdateAsync()
    {
        var authState = await AuthenticationStateProvider
        .GetAuthenticationStateAsync();
        var claim = authState.User;

        if (claim.Identity is not null && claim.Identity.IsAuthenticated)
        {
            var user = await UserManager.GetUserAsync(claim);
            if (user == null)
            {
                return "Player";
            }
            return user.DisplayName;
        }
        return "Player";

    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}

